*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    min-width: 100vw;
    background-color: #424c52;
    font-family: sans-serif;
    color: aliceblue;
}

header {
    background-color: #262c30;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.2rem;
    text-align: center;
    padding-top: 10;
}

header p {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 0;
}

.score {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.score h2 {
    font-size: 1.7rem;
    text-align: center;
}

.score p {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 10px;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 1.7rem;
    text-align: center;
    text-align: center;
    height: 10vh;
    padding: 30px 0;
}

.selection {
    display: flex;
    justify-content: space-evenly;
}

.player-selection {
    width: 100%;

    transform: scaleX(-1);
}

.computer-selection {
    width: 100%;
}

.choices {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.choices button {
    color: aliceblue;
    background-color: #262c30;
    border: none;
    width: 100px;
    height: 40px;
    margin: 0 10px;
    border-radius: 4px;
    font-size: 1.1rem;
}